<div class="container-fluid">
  <div class="row" style="min-height: 100vh;">
    <div class="col-3 sidebar">
      <app-brief-chart></app-brief-chart>
    </div>
    <div class="col-6" style="background-color: #EAEBEF;">
      <div class="row">
        <div class="col-6">
          <h4 class="text-center p-3" style="font-weight: bolder;">Followers/Buyers</h4>
          <table class="table table-sm text-center">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Agreements</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>name</td>
                <td><span class="badge badge-secondary">0</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6">
          <h4 class="text-center p-3" style="font-weight: bolder;">Top Client</h4>
          <table class="table table-sm text-center">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Total Agreement</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>name</td>
                <td><span class="badge badge-secondary">0</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div>
        <form class="form-horizontal" [formGroup]="postForm">
          <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" placeholder="Enter Ttile" formControlName="title"
                pattern="[a-zA-Z ]*" />
              <div
                *ngIf="postForm.get('title').invalid && (postForm.get('title').dirty || postForm.get('title').touched)"
                class="alert alert-danger">
                <div *ngIf="postForm.get('title').errors.required"> * Title is required.</div>
                <div *ngIf=" postForm.get('title').errors.minlength || postForm.get('title').errors.maxlength">
                  *
                  Minimum length 5 &
                  Maximum length 30
                </div>
                <div *ngIf="postForm.get('title').errors.pattern">* Should not any special character or number
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="brief">Short brief:</label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" id="brief" placeholder="Write Short Description" id=""
                cols="30" rows="2" formControlName="brief"></textarea>
              <div
                *ngIf="postForm.get('brief').invalid && (postForm.get('brief').dirty || postForm.get('brief').touched)"
                class="alert alert-danger">
                <div *ngIf="postForm.get('brief').errors.required">
                  * Brief is required.
                </div>
                <div *ngIf="postForm.get('brief').errors.minlength || postForm.get('brief').errors.maxlength">
                  * Minimum length 50 & Maximum length 100
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="details">Details</label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control" id="details" placeholder="Details" id="" cols="30" rows="10"
                formControlName="details" required minlength=50></textarea>


              <div
                *ngIf="postForm.get('details').invalid && (postForm.get('details').dirty || postForm.get('details').touched)"
                class="alert alert-danger">
                <div *ngIf="postForm.get('details').errors.required">
                  * Details is required.
                </div>
                <div *ngIf="postForm.get('details').errors.minlength || postForm.get('details').errors.maxlength">
                  * Minimum length 100
                </div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="file" (change)="uploadThumbnail($event)" accept="image/*" required>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid" (click)="post()">Post</button>
            </div>
          </div>


        </form>


        <div class="progress" *ngIf="uploading">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" [style.width]="uploadPercentage"></div>
        </div>
      </div>

    </div>
    <div class="col-3">
      <h3 class="text-center">Messages</h3>
      <app-messages></app-messages>
    </div>
  </div>
</div>
