<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light p-5">
    <a class="navbar-brand" href="#">Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Works</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link rounded-pill" data-toggle="modal" data-target="#exampleModalCenter">Follow Me!</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link rounded-pill" href="#">Hire Me!</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link rounded-pill" href="#" data-toggle="modal" data-target="#contact-me">Message
            Me!</a>
        </li>
      </ul>
    </div>
  </nav>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Please provide your informatin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="followerForm" (submit)="onSubmit()">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter email" formControlName="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" placeholder="Username" formControlName="name">
          </div>
          <button type="submit" class="btn btn-primary">Follow</button>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="contact-me" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight: bolder;">Hello there</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="messageForm" (submit)="onSubmit()">

          <div class="form-group">
            <textarea name="" class="form-control" id="" rows="5" placeholder="Please ask..."
              formControlName="message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" (click)="ask()">Send</button>
        </form>

      </div>
    </div>
  </div>
</div>
