<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light p-5">
    <a class="navbar-brand" href="#">Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#works">Works</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#blog">Blog</a>
        </li>
        <ng-container *ngIf="!user">
          <li class="nav-item active">
            <a class="nav-link rounded-pill" data-toggle="modal" data-target="#authModal">Follow Me!</a>

          </li>
        </ng-container>
        <li class="nav-item active">
          <a class="nav-link rounded-pill" href="#" data-toggle="modal" data-target="#contact-me">Message
            Me!</a>
        </li>
        <ng-container *ngIf="user">
          <li class="nav-item active">
            <a class="nav-link rounded-pill" (click)="signout()">Bye</a>
          </li>
        </ng-container>
      </ul>
    </div>

  </nav>
</div>

<div id="hello"></div>

<!-- Modal -->
<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Please provide your information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="!follower">
          <form [formGroup]="followerForm" (submit)="onSubmit()">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" formControlName="email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              <div
                *ngIf="followerForm.get('email').invalid && (followerForm.get('email').dirty || followerForm.get('email').touched)"
                class="alert alert-danger">
                <div *ngIf="followerForm.get('email').errors.required"> * Email is required.</div>
                <div *ngIf="followerForm.get('email').errors.email">* Should be valid email </div>
              </div>
            </div>
            <div class=" form-group">
              <label for="name">Username</label>
              <input type="text" class="form-control" placeholder="Username" formControlName="name">
              <div
                *ngIf="followerForm.get('name').invalid && (followerForm.get('name').dirty || followerForm.get('name').touched)"
                class="alert alert-danger">
                <div *ngIf="followerForm.get('name').errors.required"> * Name is required.</div>
                <div *ngIf="followerForm.get('name').errors.pattern">* Should not contain special character or number
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="followerForm.invalid">Follow</button>
            <p (click)=" setFollower()">Already a follower? <a>SignIn</a></p>
          </form>
        </ng-container>
        <ng-container *ngIf="follower">
          <form [formGroup]="signInFollower" (submit)="signIn()">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" formControlName="email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-primary">Follow</button>
            <p (click)="setFollower()">Not a follower? <a>Signup</a></p>
          </form>
        </ng-container>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="contact-me" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" *ngIf="messages" style="max-height: 300px; overflow-y: auto;">
        <ng-container *ngFor="let message of messages">
          <h5>{{ message }}</h5>
        </ng-container>
      </div>
      <div class="modal-footer">
        <form [formGroup]="messageForm" (submit)="onSubmit()" class="col-12">
          <div class="form-group">
            <textarea name="" class="form-control" id="" rows="2" placeholder="Please ask..."
              formControlName="message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary float-right" (click)="ask()">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
