.header {
  background-color: #F8F9FA;

}

.developer .content .dev-image {
  overflow: hidden;
}

.developer .content .dev-image img {
  width: 100%;
  margin-left: 20%;
}

.dev-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Dancing Script', cursive !important;

}

.expertise {
  font-size: 2rem;
}

.btn-primary {
  width: 150px;
}

.services,
.works-section {
  margin-bottom: 100px;
}

.service-container .row,
.work__container .row,
.blog__post-container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .row .card {
  padding: 10px;
}

.service-heading,
.works-heading {
  font-size: 2rem;
  position: relative;
}


.service-heading::before,
.works-heading::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: black;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-head {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work {
  background-position: center;
  background-size: cover;
  height: 300px;
  margin-left: 50px;
  margin-bottom: 50px;
  position: relative;
}

.work .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 249, 250, 0.8);
  padding: 10px;
  left: 0;
  right: 0;
  bottom: 0;
}

.work .content h4 {
  font-weight: bolder;
  font-size: 1.3rem;
}


.modal-content,
.modal-header {
  background-color: #000000;
}

.w3-sidebar {
  height: 80vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
  margin-bottom: 12px
}

.w3-sidebar {
  width: 120px;
  background: #222;
}

#main {
  margin-left: 120px
}

@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 100%;
    margin: 1.75rem auto;
  }
}

@media only screen and (max-width: 1550px) {
  .col-lg-4 {
    height: 27rem;
  }

  .text-muted {
    font-size: 0.8vw;
  }
}

@media only screen and (max-width: 1300px) {
  .text-muted {
    font-size: 1vw;
  }
}

@media only screen and (max-width: 1200px) {
  .text-muted {
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 1024px) {
  .text-muted {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .text-muted {
    font-size: 1.7vw;
  }

  .btn {
    padding: 0.1rem 0.30rem
  }
}

@media only screen and (max-width: 550px) {

  .text-muted {
    font-size: 2.2vw;
  }
}

@media only screen and (max-width: 325px) {
  .text-muted {
    font-size: 2.5vw;
  }
}
