<div class="container-fluid header">
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light p-5">
        <a class="navbar-brand" href="#">Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Works</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link border border-primary  rounded-pill" href="#">Hire Me!</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="developer">
      <div class="content row">
        <div class="col-lg-6 col-sm-12">
          <img src="../assets/images/developer.png" alt="">
        </div>
        <div class="col-lg-6 col-sm-12 dev-info">
          <h5 class="greeting pl-3 pt-1 pb-1">Hello, I'm Jon Don</h5>
          <p class="expertise text-muted p-3">Expert in Graphic <br><br> Design & Development</p>
          <p class="about-brief pl-3 pt-2 pb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nesciunt
            similique
            tempore commodi iusto
            minus magni doloremque amet asperiores suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Sit, repudiandae?</p>
          <button class="btn btn-primary" type="submit">Explore</button>
        </div>

      </div>
    </div>
  </header>


</div>

<h5 class="text-center p-5 service-heading">My Services</h5>

<div class="services">
  <div class="service-content row">
    <div class="col-lg-3 col-md-6 mt-2">
      <div class="card">
        <div class="card-head">
          <i class="fas fa-fill-drip"></i>
        </div>
        <div class="card-body">
          <h2 class="text-center">Web Design</h2>
          <p class="text-muted text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora,
            voluptatibus.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mt-2">
      <div class="card">
        <div class="card-head">
          <i class="fas fa-mobile-alt"></i>
        </div>
        <div class="card-body">
          <h2 class="text-center">Mobile Development</h2>
          <p class="text-muted text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora,
            voluptatibus.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mt-2">
      <div class="card">
        <div class="card-head">
          <i class="fab fa-angular"></i>
        </div>
        <div class="card-body">
          <h2 class="text-center">Angular App</h2>
          <p class="text-muted text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora,
            voluptatibus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h5 class="text-center p-5 works-heading">My Works</h5>

<div class="works">
  <div class="row">
    <div class="work col-lg-3">
      <div class="content">
        <h4 class="text-center">Work One</h4>
        <button class="btn btn-outline-danger">Visit</button>
      </div>
    </div>
  </div>
</div>
