.preview {
  position: relative;
}

.preview p {
  margin-left: 20%;
}

.post-time {
  position: absolute;
  background-color: #666666;
  color: #ffffff;

  width: 100px;
  height: 110px;
  left: 10px;
  bottom: -10px;
  overflow: hidden;
}

.post-time .row {
  height: 100%;
}

.post-time .row .col-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;

}

.flx {
  justify-content: center;
  height: 60%;
}

.post-time::before {
  position: absolute;
  content: '';
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border: 1px solid #dddddd;

}

.keyword {
  color: #AAAAAA !important;
  font-size: 0.7rem;
  font-weight: bolder;
}

.key-value {
  color: #FF816C;
}
